{% extends 'basic.html' %}

{% block title %} Forum {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}
    body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #eef1f3
    }

    .mt-100 {
    margin-top: 100px
    }

    .card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem
    0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
    }

    .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
    }

    .card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    text-transform: uppercase;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
    }

    .btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
    }

    .btn {
    font-size: 0.8rem;
    font-weight: 500;
    outline: none !important;
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s
    }

    .card-body {
    flex: 1 1 auto;
    padding: 1.25rem
    }

    .card-body p {
    font-size: 13px
    }

    a {
    color: #E91E63;
    text-decoration: none !important;
    background-color: transparent
    }

    .media img {
    width: 40px;
    height: auto
    }

    .counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
    }

    .count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    }

    .count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    }

    .fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
    }

    .form-control{
        white-space: pre-wrap
    }
{% endblock %}
{% block body %}
    {% load static %}
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="container">
        <div><br><br><br></div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <i class="fa fa-code fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to={{ visit_count }} data-speed="1500"></h2>
                    <p class="count-text ">Number of Visits</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-coffee fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to={{ post_count }} data-speed="1500"></h2>
                    <p class="count-text ">Number of Posts</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-lightbulb-o fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to={{ reply_count }} data-speed="1500"></h2>
                    <p class="count-text ">Number of Replies</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4" style="background-color: #DEB1AC;">
        <div><br><br><br></div>
        <div class="jumbotron" style="background-color: #EFEFEF;">
            <h1 class="display-4">Discussion Forum</h1>
            <p class="lead">Welcome to our discussion forum. You can post your question or any related queries by simply
                clicking on the add post button.</p>
            <hr class="my-4">
            <p>You can also give your input to a thread, by clicking on the post and typing your reply.</p>
            <button class="btn btn-primary btn-lg" data-target="#questions" data-toggle="modal" role="button">Add Post
            </button>
        </div>
        <div><br></div>
        {% for post in posts %}
            <div class="container-fluid mt-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center"><img src="/media/{{ post.image }}"
                                                                                           class="d-block ui-w-40 rounded-circle"
                                                                                           alt="">
                                    <div class="media-body ml-3"><a href="/discussion/{{ post.id }}"
                                                                    data-abc="true"><strong>{{ post.user }}</strong>: {{ post.title }}
                                    </a>
                                    </div>
                                    <div class="text-muted small ml-3">
                                        <div class="px-4 pt-3">{{ post.date_added }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>{{ post.post_content }}</p>
                            </div>
                            <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="questions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Start your thread here:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if user.is_authenticated %}
                    <div class="modal-body">
                        <form action="/" method="POST"> {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1"><strong>Title:</strong></label>
                                <textarea class="form-control" id="title" name="title" rows="1"></textarea>
                                <label for="exampleFormControlTextarea1"><strong>Content:</strong></label>
                                <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                            </div>
                    </div>
                {% else %}
                    <h3>You have to log in before you can publish topics on this forum.</h3>
                {% endif %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        {% if alert %}
            //document.location = "/discussion/" + {{current_post.id}} + '/';
            document.location = '/';
        {% endif %}

        (function ($) {
            $.fn.countTo = function (options) {
                options = options || {};

                return $(this).each(function () {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from: $(this).data('from'),
                        to: $(this).data('to'),
                        speed: $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals: $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof (settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof (settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,               // the number the element should start at
                to: 0,                 // the number the element should end at
                speed: 1000,           // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,           // the number of decimal places to show
                formatter: formatter,  // handler for formatting the value before rendering
                onUpdate: null,        // callback method for every time the element is updated
                onComplete: null       // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function ($) {
            // custom formatting example
            $('.count-number').data('countToOptions', {
                formatter: function (value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                }
            });

            // start all the timers
            $('.timer').each(count);

            function count(options) {
                const $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });

    </script>
{% endblock %}
